*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(0, 22, 0);
}


section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient( #0f0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    animation: animate 3s linear infinite;
    
   
}

@keyframes animate
{
    0%{
        transform: scale(1.1); 
    }

    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1.1); 
    }
}

section{
    width: 100vw;
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;

}
section span{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    transition:  1.5s;
    z-index: 1;
    
}


section span:hover{
    background-color: #0f0;
    transition: background-color 0s , scale 0.5s;
    z-index: 3;
    box-shadow: #0f0 0px 0px 40px;
    
}


@media screen and (max-width:100vw){

    section{
        height: 100vh;
    }

    body{
        min-height: 100vh;
    }

    .container{
        flex-direction: row;
        
    }
    .andwoorden{
        width: calc(31.5% - 10px);
        z-index: 4;
        left: 50%;
        transform: translate(-102%, -0%);
        position: relative;
        flex-direction: column;
        transition: all 1s ease;
    }
}



@media screen and (max-width:900px){

    section{
        height: 150vh;
    }

    body{
        min-height: 150vh;
    }
   
    .container{
        flex-direction: column;
    }
    .andwoorden{
        
        width: 63%;
        z-index: 4;
        
        left: 50%;
        transform: translate(-50%, -0%);
        position: relative;
        display: flex;
        flex-direction: column;
        transition: all 1s ease;
    }
    
    
}



.container{
    position: absolute;
    display: flex;
    gap: 20px;
    top: 200px;
    width: 100%;
  flex-wrap: wrap;
  
    
   
}
.break{
    flex-basis: 100%;
    height: 0;
}



.klijnvak{
    height: 75px;
    width: 100%;
    background: rgb(45, 62, 45);
    border: #0f0 2px solid;
    z-index: 4;
    box-shadow: rgba(0, 255, 0, 0.494) 0px 0px 40px;
    border-radius: 20px;
    left: 50%;
    
    transform: translate(-50%, -0%);
    position: relative;

    transition: height ease 0.5s;
    float: left;
    
}

.klijnvak:hover{
    height: 100px;
    box-shadow: rgb(0, 255, 0) 0px 0px 80px;
}
.knop{
    height: 75px;
    width: 100%;
    opacity: 0;
    z-index: 4;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, -0%);
    position: relative;
    transition: height ease 0.5s;
    float: left;
}

.knop:hover{
    height: 100px;
}

.andwoorden{
    height: 200px;
    z-index: 4;
    gap: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}




.grootvak{
    height: 250px;
    width: 63%;
    background: rgb(45, 62, 45);
    border: #0f0 2px solid;
    z-index: 4;
    box-shadow: rgba(0, 255, 0, 0.494) 0px 0px 40px;
    border-radius: 20px;
    left: 50%;
    
    transform: translate(-50%, -0%);
    position: relative;
}

#vraagtext{
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position:absolute;
    font-family: arcade;
    font-size: 4vw;
    color: #0f0;
    text-shadow: rgba(0, 255, 0, 0.737) 2px 0px 10px;
    text-shadow: 0 0 10em rgb(0, 255, 0), 0 0 0.5em rgb(0, 255, 0);
    margin: auto;
    white-space: nowrap; 
    
    

   
}
    

.pacman{
    height: 50px;
    filter:invert(57%) sepia(85%) saturate(2310%) hue-rotate(81deg) brightness(111%) contrast(129%);
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}
.ghost{
    height: 50px;
    filter:invert(57%) sepia(85%) saturate(2310%) hue-rotate(81deg) brightness(111%) contrast(129%);
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(0, -50%) scaleX(-1);
    
}

.pacman2{
    height: 50px;
    filter:invert(57%) sepia(85%) saturate(2310%) hue-rotate(81deg) brightness(111%) contrast(129%);
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(0, -50%)scaleX(-1);
}
.ghost2{
    height: 50px;
    filter:invert(57%) sepia(85%) saturate(2310%) hue-rotate(81deg) brightness(111%) contrast(129%);
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%) ;
    
}

.vraag{
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: arcade;
    font-size: 300%;
    color: #0f0;
    text-shadow: rgba(0, 255, 0, 0.737) 2px 0px 10px;
    text-shadow: 0 0 10em rgb(0, 255, 0), 0 0 0.5em rgb(0, 255, 0);
    transition: font-size ease 0.2s ;
}


