*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 63%;
    height: 100px;
    background: rgb(45, 62, 45);
    border: #0f0 2px solid;
    position: absolute;
    z-index: 5;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: rgba(0, 255, 0, 0.494) 0px 0px 40px;
}

.headernoah{
    width: 63%;
    height: 100px;
    background: rgb(45, 62, 45);
    border: #ff3305 2px solid;
    position: absolute;
    z-index: 5;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: rgba(255, 0, 0, 0.494) 0px 0px 40px;
}

.header p {
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: arcade;
    font-size: 300%;
    color: #0f0;
    text-shadow: rgba(0, 255, 0, 0.737) 2px 0px 10px;
    text-shadow: 0 0 10em rgb(0, 255, 0), 0 0 0.5em rgb(0, 255, 0);
    transition: font-size ease 0.2s ;
    white-space: nowrap; 
}

.header a {
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: arcade;
    font-size: 300%;
    color: #0f0;
    text-shadow: rgba(0, 255, 0, 0.737) 2px 0px 10px;
    text-shadow: 0 0 10em rgb(0, 255, 0), 0 0 0.5em rgb(0, 255, 0);
    transition: font-size ease 0.2s ;
    white-space: nowrap; 
}

.headernoah p {
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: arcade;
    font-size: 300%;
    color: rgb(255, 0, 0);
    text-shadow: rgba(255, 0, 0, 0.737) 2px 0px 10px;
    text-shadow: 0 0 10em rgb(255, 0, 0), 0 0 0.5em rgb(255, 0, 0);
    transition: font-size ease 0.2s ;
    white-space: nowrap; 
    
}

.headernoah a {
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: arcade;
    font-size: 300%;
    color: rgb(255, 0, 0);
    text-shadow: rgba(255, 0, 0, 0.737) 2px 0px 10px;
    text-shadow: 0 0 10em rgb(255, 0, 0), 0 0 0.5em rgb(255, 0, 0);
    transition: font-size ease 0.2s ;
    white-space: nowrap; 
}

@keyframes animate
{
    0%{
        font-size: 300%; 
    }

    50%{
        font-size: 400%;
    }
    100%{
        font-size: 300%; 
    }
}

.header p:hover{
    font-size: 400%;
    animation: animate 1.5s linear infinite;
}

.header a{
    text-decoration: none;
}

@font-face {
    font-family: arcade;
    src: url(../fonts/ARCADE.TTF);

  }