*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    min-height: 100vh;
    background-color: rgb(0, 22, 0);
    
    
}


section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient( #0f0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    animation: animate 3s linear infinite;
    
   
}

@keyframes animate
{
    0%{
        transform: scale(1.1); 
    }

    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1.1); 
    }
}

section{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;

}
section span{
    position: relative;
    display: block;
    width: calc(3.12vw - 2px);
    height: calc(3.12vw - 2px);
    background-color: rgb(0, 0, 0);
    transition:  1.5s;
    z-index: 1;
    
}


section span:hover{
    background-color: #0f0;
    transition: background-color 0s , scale 0.5s;
    scale: 1.2;
    z-index: 3;
    box-shadow: #0f0 0px 0px 40px;
    
}

@media screen and (max-width:100vw){
    
    .container div{
        width: 20vw;
    }
}




@media screen and (max-width:900px){
    section span{
        
        width: calc(5vw - 2px);
        height: calc(5vw - 2px);
        
    }

    .container{
        flex-direction: column;
        

    }
    .container div{
        width: 63vw;
    }
}

@media screen and (max-width:600px){
    section span{
        
        width: calc(5vw - 2px);
        height: calc(5vw - 2px);
        
    }
}

.container{
    position: absolute;
    display: flex;
    gap: 20px;
    top: 200px;
    
   
}



.container div{
    height: 400px;
    
    background: rgb(45, 62, 45);
    border: #0f0 2px solid;
    z-index: 4;
    box-shadow: rgba(0, 255, 0, 0.494) 0px 0px 40px;
    border-radius: 20px;
}

.container div p {
    text-align: center;
    top:14%;
    transform: translate(-0%, -50%);
    position: relative;
    font-family: arcade;
    font-size: 300%;
    color: #0f0;
    text-shadow: rgba(0, 255, 0, 0.737) 2px 0px 10px;
    text-shadow: 0 0 10em rgb(0, 255, 0), 0 0 0.5em rgb(0, 255, 0);
}

.container div button{
    left: 50%;
    top:56%;
    transform: translate(-50%, -50%);
    position: relative;
    height:50px ;
    width: 10vw;
    background: rgb(45, 62, 45);
    border: #0f0 2px solid;
    z-index: 4;
    box-shadow: rgba(0, 255, 0, 0.494) 0px 0px 40px,inset rgba(0, 255, 0, 0.494) 0px 0px 40px;
    
    border-radius: 20px;
}