
body{
    color: white;
    font-family: verdana;
    background-image: url("../media/subBG.png");
    background-size: cover;
    background-attachment: fixed;
}
.header{
    width: 64%;
    height: 100px;
    background: #2d323e;
    border: #0586ff 2px solid;
    position: absolute;
    z-index: 5;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: #2086e6 0px 0px 40px;
}
.container .persoon{
    height: 50vh;
    width: 20vw;
    background: #2d323e;
    border: #0586ff 2px solid;
    z-index: 4;
    box-shadow: #2086e6 0px 0px 40px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
.container .theme{
    height: 50vh;
    width: 40vw;
    background: #2d323e;
    border: #0586ff 2px solid;
    z-index: 4;
    box-shadow: #2086e6 0px 0px 40px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
.container{
    position: absolute;
    display: flex;
    gap: 20px;
    top: 175px;
    left: 18.5%;

}
.subimg{
    width: 50%;
    border-radius: 30px;
    box-shadow: black 0px 0px 10px;
}