.info{
    text-align: center;
    background: #2d323e;
    border: #0586ff 2px solid;
    border-radius: 50px;
    box-shadow: #2086e6 0px 0px 40px;
    width: 20%;
    position: absolute;
    right: 40%;
    top: 175px;
}
body{
    color: white;
    font-family: verdana;
    background-image: url("../media/784283.jpeg");
    background-size: cover;
}
.header{
    width: 64%;
    height: 100px;
    background: #2d323e;
    border: #0586ff 2px solid;
    position: absolute;
    z-index: 5;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: #2086e6 0px 0px 40px;
}