body{
    color: white;
    font-family: verdana;
    background-image: url("../media/media-Noah/bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.headernoah{
    width: 64%;
    height: 50px;
    background: #2d323e;
    border: #ff3305 2px solid;
    position: absolute;
    z-index: 5;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: #f33500 0px 0px 40px;
}
.container{
    position: absolute;
    display: flex;
    gap: 20px;
    top: 175px;
    left: 18.5%;

}
.container .theme{
    position: absolute;
    left: 103%;
    top: 89%;
    height: fit-content;
    width: 30vw;
    background: #2d323e;
    border: #ff0505 2px solid;
    z-index: 4;
    box-shadow: #950a0a 0px 0px 40px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.container .themer{
    height: fit-content;
    width: 35vw;
    background: #2d323e;
    border: #ff0505 2px solid;
    z-index: 4;
    box-shadow: #950a0a 0px 0px 40px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.container .themer > ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container .themer2{
    position: absolute;
    top: 0%;
    left: 102%;
    height: fit-content;
    width: 31vw;
    background: #2d323e;
    border: #ff0505 2px solid;
    z-index: 4;
    box-shadow: #950a0a 0px 0px 40px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.container > .themer2 > button {
    background: #2d323e;
    border: #c21717 2px solid;
    z-index: 4;
    box-shadow: #d31010 0px 0px 40px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: verdana;
    cursor: pointer;
    transition: transform .2s;
}

.container > .themer2 > input{
    background: #2d323e;
    border: #c21717 2px solid;
    z-index: 4;
    box-shadow: #d31010 0px 0px 40px;
    border-radius: 20px;
    text-align: center;
    padding: 3px;
    color: white;
    font-size: 20px;
    font-family: verdana;
    cursor: pointer;
    transition: transform .2s;
}

#punten{
    font-size: 35px;
    font-family: arcade;
    position: absolute;
    left: 10%;
    top: 35%;
}

#resultaat{
    font-size: 35px;
    font-family: arcade;
    position: absolute;
    left: 20%;
    top: 36%;
}

@font-face {
    font-family: arcade;
    src: url(../fonts/ARCADE.TTF);
}

